.container {
    max-width:1170px;
    margin:auto;
    padding: 0 15px;
}
.clr {
    clear: both;
}
.labelLeft{
    float: left;
    width: 175px;
}
.textBoxRight{
   float: right;
    width:calc(100% - 175px);
}
.textBoxRight input[type="text"]{
   width:100%;
   padding: 8px 10px;
    border:1px solid #ccc;
    box-sizing: border-box;
    color:#000;
    font: 400 14px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.textBoxRight textarea{
   width:100%;
    min-height: 60px;
    border:1px solid #ccc;
    color:#000;
    box-sizing: border-box;
    padding: 8px;
    font: 400 14px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.textBoxRight input[type="date"]{
    padding: 8px 10px;
    width: 100%;
    box-sizing: border-box;
}
.appheader {
    padding-bottom: 15px;
    line-height: 40px;
    font-size: 30px;
}
.custom-error{
    color: #a94442;
    display: block;
}
.BtnRedIcon {
    background: url(/assets/images/delete.png) top center no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    float: left;
    margin-right:5px;
}
.updateBg{
    background: url(/assets/images/check.png) top center no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    float: left;
    margin-right:5px;
}
.searchLeftHeading{
   float: left;
    font-weight: 600;
}
.descriptionLabel label,.amountLabel label,.dateLabel label{
   margin-bottom: 0px;
    vertical-align: top;
}
.dateLabel input{
   border:1px solid #ccc;
}
.amountLabel,.dateLabel{
   margin-bottom:10px;
}
.descriptionLabel{
   margin-bottom:5px;
}
.descriptionLabel span{
   position: relative;
    top:-5px;
}
.table-hover{
   width:100%;
}
.table-hover thead th {
    background-color: #4686bd;
    color: #fff;
    font-weight: 500;
}
.table{
   margin: 20px 0;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
    border-bottom: 0px;
    border-right:0px;
    text-align: center;
}
.table tr td:last-child{
    border-right: 1px solid #dee2e6;
}
.table tr:last-child td{
    border-bottom: 1px solid #dee2e6;
}
.table-hover tbody tr:hover {
    background-color: #77a1c5;
    color: #fff;
}
.table-hover td input[type=text]{
   padding:6px 10px;
}
.actionBtn{
    margin: auto;
    max-width: 40px;
}
.searchBox{
   float:right;
    padding-bottom: 10px;
}
.searchBox label{
   margin-right:5px;
    float: left;
    padding-top:6px;
}
.searchBox input{
   width:160px;
    padding: 10px;
    border: 1px #b1b1b1 solid;
}
.textBoxRight .btnSubmit{
    background: #115188;
    color: #fff;
    padding: 9px 18px;
    border-color: #115188;
}
.contentMain{
    margin-top: 40px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    min-height: 312px;
}
.descriptionTable{
    margin-top: 40px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 40px;
}
.textBoxRight textarea::-webkit-input-placeholder,.textBoxRight input::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
    color: #000;
}
.textBoxRight textarea::-moz-placeholder,.textBoxRight input::-webkit-input-placeholder {
   /* Firefox 19+ */
    color: #000;
}
.textBoxRight textarea:-ms-input-placeholder,.textBoxRight input::-webkit-input-placeholder {
   /* IE 10+ */
    color: #000;
}
.textBoxRight textarea :-moz-placeholder,.textBoxRight input::-webkit-input-placeholder {
   /* Firefox 18- */
    color: #000;
}
.tabletitle{
   font-weight: 600;
}
.tableScroll{
   max-height: 290px;
    overflow: auto;
}
.tableScrollMobile{
   width:100%;
    overflow: auto;
}
@media screen and (max-width:650px){
    .amountLabel label,.descriptionLabel label,.dateLabel label{
       padding:0px;
   }
    .appheader{
        padding-top: 15px;
        padding-bottom: 5px;
        line-height: 40px;
        font-size: 22px;
   }
    .tableScroll{
       width:100%;
        overflow: auto;
   }
    .labelLeft{
       width:100%;
   }
    .textBoxRight{
       width:100%;
   }
    .textBoxRight input{
       width: 100% !important;
        box-sizing: border-box;
   }
    .textBoxRight .btnSubmit{
       width:100% !important;
   }
    .appheader{
       text-align: center
   }
    .searchLeftHeading{
        float: none;
        font-weight: 600;
        text-align: center;
   }
    .searchBox{
       margin-top: 10px;
   }
    .searchBox input{
       width: 68px;
   }
    .tabletitle{
       text-align: center;
       ;
   }
}
@media screen and (min-width:100px) and (max-width:985px){
    .left-box{
        width: 100% !important;
        float: none;
   }
    .right-box{
        width: 100% !important;
        float: none;
   }
}
.clear-both{
    clear: both;
}
.left-box{
    width: 49%;
    float: left;
}
.right-box{
    width: 49%;
    float: right;
}
